 <div class="form-group col-md-6 offset_input right">
    <div>
      <select title="Instructors" class=" form-control selectpicker" id="professors"  name="professors[]" data-live-search="true" multiple >
          {% for user in users %}
            <option  value="{{user.username}}" {% if (course is defined)  %}
                                                {%for instructor in instructors[course.cId] %}
                                                  {% if instructor.username.username == user.username %}
                                                    selected
                                                  {% endif %}
                                                {% endfor %}
                                              {% endif %}>
              {{user.firstName}} {{user.lastName}} ({{user.username}})
              </option>
          {% endfor %}
        </select>
    </div>
  </div>