<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li class="head2">
                <a href="#" class='text-center'> Menu</a>
            </li>
            <li>
                <a id="crossListedLink" href="">Cross Listed Courses</a>
            </li>
            <li>
                <a id="conflictsLink" href="">Schedule and Room Conflicts</a>
            </li>
            <li>
                <a id="trackerLink" href="">Change Tracker</a>
            </li>
            {% if page == "tracker" %} {# We need a hidden input for our javascript #}
            <input type="hidden" value="{{currentTerm}}" id="termSelect"> {% else %}
            <li class="head2"><a>Current Term</a></li>
            <li id="sidebarSelect">
                <select id="termSelect" class="form-control col-md-1" onchange="buildURL('{{page}}')">
                        {% for term in allTerms %}
                            <option value ="{{term.termCode}}"
                                {% if term.termCode|int == currentTerm|int %}
                                    selected
                                {% endif %} 
                            >
                                {{term.name}}
                            </option>
                        {% endfor %}
                    </select>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<script type="text/javascript" src="/static/js/local/courseManagementSidebar.js"></script>