<!-- Sidebar -->
<link rel="stylesheet" href="/static/css/sidebar.css" type="text/css" />
        <nav class="navbar navbar-default navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav nav-list sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Menu
                    </a>
                </li>
    <div id="programs">
      {% for division in divisions %}
      <li><label class="tree-toggler nav-header" id="did{{division.dID}}" onclick="toggleArrowIcon(didarrow{{division.dID}},did{{division.dID}})">
          <span  class="glyphicon glyphicon-menu-right" aria-hidden="true" id="didarrow{{division.dID}}" ></span>{{division.name}}</label> {% for program in programs %} {% if program.division.dID == division.dID %}
        <ul class="nav nav-list tree" style="display: none;">
          <li>
            <label class="tree-toggler nav-header col-md-offset-1" id="pid{{program.pID}}" onclick="toggleArrowIcon(pidarrow{{program.pID}},pid{{program.pID}})">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true" id="pidarrow{{program.pID}}" ></span>
                    {{program.name}}
                  </label>
            <ul class="nav nav-list tree col-md-offset-2" style="display: none;">
              {% for subject in subjects %} {% if subject.pid.pID == program.pID %}
              <li><a href="/courses/{{currentTerm}}/{{subject.prefix}}">{{subject.prefix}}</a></li>
              {% endif %} {% endfor %}
            </ul>
          </li>
        </ul>
        {% endif %} {% endfor %}
      </li>
      {% endfor %}
    </div>
    <li class="sidebar-brand">Current Term</li>
    <li>
      <form id="termChange" class="navbar-form" method="post" action="/courses/">
        <!--SO THAT WHEN THE SEMESTER CHANGES THE PROGRAM STAYS THE SAME-->
        <input value={{prefix}} id="prefix" name="prefix" hidden readonly="readonly" />
        <select class="form-control col-md-1" name="term" onchange="this.form.submit()">
            {% for term in allTerms %}
              <option value ="{{term.termCode}}"
              {% if term.termCode == currentTerm %}
                selected
              {% endif %} >
              {{term.name}}
              </option>
            {% endfor %}
          </select>
      </form>
    </li>
  </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        