<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li class="sidebar-brand">
                            <a href="#" class='text-center'> Menu</a>
                        </li>
                       {% for division in divisions %}
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>{{division.name}}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                              {% for program in programs %}
                              {%if program.division.dID == division.dID %}
                                <li>
                                    <a href="{{program.pID}}">{{program.name}}</a>
                                </li>
                              {% endif %}
                              {% endfor %}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>{ % endfor %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>