.glyphicon {
    color: #AAA;
    margin: 5px;
}
.glyphicon:hover {
    color: #404040;
}

.glyphicon.disabled {
    color: #d3d3d3;
}

textarea {
    resize: vertical;
}

.adminSelect {
    min-width: 200px;
}
body {
    background-color: #fff;
}