    <tfoot>
        <form method="post" id="addCourseForm" action="/addCourse/{{currentTerm}}/{{page}}/{{prefix}}">
<div data-toggle="validator">
  {# COURSE NAME #}
  <td id="courseSelect">
    <select class="form-control" name="ctitle" id="courseInfo"  onchange="specialTopicsName()" required>
      <option value="">---</option>
      {% for ctitle in courseInfo %}
        <option>
          {{ctitle.subject.prefix}} {{ctitle.number}} {{ctitle.ctitle}}
        </option>
      {% endfor %}
    </select>
  </td>
  {# TAUGHT BY #}
  <td>
    <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#instructorModal">Add Instructor(s)</button>
    {% include "snips/addInstructors.html" %}
  </td>
  {# SCHEDULE #}
  <td>
    <select class="form-control" name="schedule" >
      <option value="">---</option>
      {% for schedule in schedules %}
        <option value="{{schedule.sid}}">
          {{schedule.letter}}: {{schedule.days}} {{schedule.startTime.strftime('%I:%M%p')}}-{{schedule.endTime.strftime('%I:%M%p')}}
        </option>
      {% endfor %}
     </select>
   </td>
   {# CAPACITY #}
   <td>
    <input type="number" name ="capacity" class="form-control" min="0"  /> 
   </td>
   {# ROOM #}
   <td>
     <select class="form-control" id='roomSelect' name="rid">
       <option value="">---</option>
        {% for room in rooms %}
          <option value="{{room.rID}}"> 
             {{room.building}}-{{room.number}} 
          </option>
        {% endfor %}
     </select>
   </td>
   {# CROSS LISTED #}
   <td>
      <div class="radio">
        <label>
          <input type="radio" name="crossListed" id="exampleRadios1" value=1 required>
          Yes
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="crossListed" id="exampleRadios1" value=0 required>
          No
        </label>
      </div>
   </td>
   {# NOTES #}
   <td>
     <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#notesModal">Add Notes</button>
   {% include "addNotes.html" %}
   </td>
   <td>
      <input  id="submitAdd" class="btn btn-default btn" type="submit" value="Submit" disabled=true >
   </td>
</div>
        </form>
    </tfoot>