<div class="modal fade" id="instructorModal{% if course is defined %}{{course.cId}}{% endif %}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Instructors</h4>
        </div>
        <div class="modal-body">
        <select data-placeholder="Add Instructors" multiple class="chosen-select" id="professors"  name="professors[]"   >
          {% for user in users %}
            <option  value="{{user.username}}" {% if (course is defined)  %}
                                                {%for instructor in instructors[course.cId] %}
                                                  {% if instructor.username.username == user.username %}
                                                    selected
                                                  {% endif %}
                                                {% endfor %}
                                              {% endif %}>
              {{user.firstName}} {{user.lastName}} ({{user.username}})
              </option>
          {% endfor %}
        </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
        </div>

    </div>
  </div>
</div>