    <thead>
        <tr>
            <th>Course Name</th> 
            <th>Taught By</th>
            <th>Schedule</th>
            <th>Capacity</th>
            <th>Room</th>
            <th>Cross-Listed</th>
            <th>Notes</th>
            <th>Last Edited By</th>
        </tr> 
    </thead>
    <tbody>
        {% for course in courses %}
            <tr>
                <!--COURSE NAME-->
                <td>{{course.prefix.prefix}} {{course.bannerRef.number}}
                    {% if course.specialTopicName is not none %}
                        {{course.specialTopicName}}
                    {% else %}
                        {{course.bannerRef.ctitle}}
                    {%endif%}
                </td>
                <!--TAUGHT BY-->
                <td>
                    {% for instructor in instructors[course.cId] %}
                        {{instructor.username.username}}
                    {% endfor %}
                </td>
                <!--SCHEDULE-->
                <td>
                    {% if course.schedule is not none %}
                        {{course.schedule.days}} {{course.schedule.startTime.strftime('%I:%M%p')}}-{{course.schedule.endTime.strftime('%H:%M%p')}}
                    {% endif %}
                </td>
                <!--CAPACITY-->
                <td> 
                    {% if course.capacity is not none  %}
                        {{course.capacity}}
                    {% endif %}
                </td>
                <!-- ROOM -->
                <td>
                    {% if course.rid is not none %}
                        {{course.rid.building}}:{{course.rid.number}}
                    {% else %}
                        <p>No room listed</p>
                    {% endif %}
                </td>
                <!--CROSS LISTED-->
                <td>
                    {% if course.crossListed == True %}
                        yes
                    {% else %}
                        no
                    {% endif %}
                </td>
                <!--NOTES-->
                <td>
                    <a href='javascript:;'  data-toggle='popover' title='Course Notes' data-content='{% if course.notes is not none %}{{ course.notes }}{% endif %}'>Notes</a>
                </td>
                <!--LAST EDITED BY-->
                <td>
                    {{course.lastEditBy}}
                </td>
                <td>
                    {% if isAdmin or isDivisionChair or isProgramChair %}
                        <!--EDIT MODAL-->
                        <a href="/editCourseModal/{{currentTerm}}/{{course.prefix.prefix}}/{{course.cId}}/{{page}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                        <!--DELETE MODAL-->
                        <a href=# data-toggle="modal" data-target="#deleteModal{{course.cId}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        {% include "snips/deleteCourse.html" %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>

