<select class="selectpicker form-control" id="professors" name="professors[]" multiple data-live-search="true">
  {% for user in users %}
  <option value="{{user.username}}" 
    {% if (course is defined)  %}
      {%for instructor in instructors[course.cId] %}
        {% if instructor.username.username == user.username %}
          selected
        {% endif %}
      {% endfor %}
    {% endif %}
    data-subtext = "{{user.username}}"
  >
    {{user.firstName}} {{user.lastName}}
  </option>
  {% endfor %}
</select>