<div data-toggle="validator">
  <td id="courseSelect">
    <select class="form-control" name="ctitle" id="courseInfo"  onchange="specialTopicsName()" required>
      <option value="">---</option>
      {% for ctitle in courseInfo %}
      <option>
        {{ctitle.subject.prefix}} {{ctitle.number}} {{ctitle.ctitle}}
      </option>
      {% endfor %}
    </select>
  </td>
  <td>
    <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#instructorModal">Add Instructor(s)</button>
    {% include "addInstructors.html" %}
  </td>
  <td>
    <select class="form-control" name="schedule" >
      <option value="">---</option>
      {% for schedule in schedules %}
      <option value="{{schedule.sid}}">
        {{schedule.letter}}: {{schedule.days}} {{schedule.startTime.strftime('%H:%M')}}-{{schedule.endTime.strftime('%H:%M')}}
      </option>
        {% endfor %}
     </select>
   </td>
   <td>
    <input type="number" name ="capacity" class="form-control" min="0"  /> 
   </td>
   <td>
     <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#notesModal">Add Notes</button>
   {% include "addNotes.html" %}
   </td>
   <td></td>
   <td>                                 
      <input  id="submitAdd" class="btn btn-default btn" type="submit" value="Submit" disabled=true/>
      <!--<script src="static/js/local/Courses.js"></script>-->
   </td>
</div>