<div class="modal fade" id="notesModal{%if course is defined%}{{course.cId}}{% endif %}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-md">
                                      
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                          <h4 class="modal-title">Notes</h4>
                                          </div>
                                          <div class="modal-body">
                                          <textarea rows="4" class="form-control" id="notesText" name="requests" cols="50" placeholder="Please indicate any special needs for this course, including..."></textarea></textarea>
                      

                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                                          </div>

                                      </div>
                                    </div>
                               </div>