<!--This page includes all base scripts and stylesheets that should be present on every html page -->
<html>
  <head>   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Watson TA Assistant</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/round-about.css') }}" rel="stylesheet">

    <!-- Jquery -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  </head>
 
  <body>
   {% include "navigation.html" %}
    {% block aboveContainer %} {% endblock %}
    <!--<div class="container">-->
      {# All content should get rendered in here #}
      {% block body %} {% endblock %}  
    <!--</div>-->
   {% block belowContainer %} {% endblock %} 
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.min.js"></script>
    
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/local/app.js"></script>
     <link rel = "stylesheet" href = "/static/css/{{currentPage}}.css"/>
     <script type = "text/javascript"
            src  = "/static/js/local/{{currentPage}}.js"> 
    </script>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
</body>

</html>
