<!--This page includes all base scripts and stylesheets that should be present on every html page -->
<html>
  <head>   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Watson TA Assistant</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/round-about.css') }}" rel="stylesheet">

    </head>
 
  <body>
   {% include "navigation.html" %}
    {% block aboveContainer %} {% endblock %}
    <!--<div class="container">-->
      {# All content should get rendered in here #}
      {% block body %} {% endblock %}  
    <!--</div>-->
   {% block belowContainer %} {% endblock %} 
     <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel = "stylesheet" href = "/static/css/{{currentPage}}.css"/>
     <script type = "text/javascript"
            src  = "/static/js/local/{{currentPage}}.js"> 
    </script>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
</body>

</html>
