{% extends "base.html" %}

{% set currentPage = "courseChanges" %}
{% block body %}
<div class="jumbotron">
  <p>After the deadline for submitting courses has passed 
     and division chairs and program chairs still need to add or edit courses then those changes
     will appear here so that they can be updated in any other database that needs to be updated</p>
</div>
{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-success alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	{% for term in data %}
    <div class="panel panel-default">
		<div class="panel-heading">{{term.name}}</div>
		<!-- Table -->
		<table class="table">
			<thead>

				<tr>
					<th>Course Name</th>
              <th>Taught By</th>
              <th>Schedule</th>
              <th>Capacity</th>
              <th>Notes</th>
              <th>Last Edited By</th>
              <th></th>
				</tr>
			</thead>
			<tbody>
				{% for course in data[term] %}
				<tr>
				 <td class="{{course[0][0]}}">{{course[1].prefix.prefix}} {{course[1].bannerRef.number}}
                             {% if course[1].specialTopicName is not none %}
                                {{course[1].specialTopicName}}
                             {% else %}
                                {{course[1].bannerRef.ctitle}}
                             {%endif%}
                             </td>
              <td class='{{course[0][1]}}'>{% for instructor in instructors[course[1].cId] %}
               {{instructor.username.username}}{% endfor %}
              </td>
              <td class="{{course[0][2]}}">{{course[1].schedule.days}} {{course[1].schedule.startTime.strftime('%H:%M')}} - {{course[1].schedule.endTime.strftime('%H:%M')}}</td>
              <td class="{{course[0][3]}}">{{course[1].capacity}}</td>
              <td class="{{course[0][4]}}"><a href='javascript:;'  data-toggle='popover' title='Course Notes' data-content='{{course[1].notes}}'>Notes</a></td>
              <td>{{course[1].lastEditBy}}</td>
              <td>
               <a href="" data-toggle="modal" data-id="{{course[1].cId}}" data-target="#verifyCourseChange"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
              </td>
          	</tr>

            {% endfor %}
			</tbody> 
		</table>
		{% include "verifiedCourseChange.html" %}
	</div>
	{% endfor %}
{% endblock %}