<!--PURPOSE: THIS IS THE SIDEBAR FOR THE COURSEMANAGEMENT.HTML-->
<link rel="stylesheet" href="/static/css/sidebar.css" type="text/css" />

<div id="sidebar-wrapper">
    <ul class="nav nav-list sidebar-nav">
        <li class="sidebar-brand">Course Management</li>
        <li>
            <a id = "crossListedLink" href="courseManagement">Cross Listed Courses</a>
        </li>
        <li>
             <a id = "conflictsLink" href="courseManagement">Schedule and Room Conflicts</a>
        </li>
        <li>
            <a id = "trackerLink" href="courseManagement">Change Tracker</a>
        </li>
        {% if page != "tracker" %}<li class="sidebar-brand">Current Term</li>
        <li>
            <form class="navbar-form" method="post">
                <select id="termSelect" class="form-control col-md-1" onchange="buildURL('{{page}}')">
                    {% for term in allTerms %}
                        <option value ="{{term.termCode}}"
                            {% if term.termCode|int == currentTerm|int %}
                                selected
                            {% endif %} 
                        >
                            {{term.name}}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </li>
        {% endif %}
    </ul>
</div>
<script type="text/javascript" src="/static/js/local/courseManagementSidebar.js"></script>
