<!--PURPOSE: THIS IS THE SIDEBAR FOR THE COURSEMANAGEMENT.HTML-->
<link rel="stylesheet" href="/static/css/sidebar.css" type="text/css" />
<div id="sidebar-wrapper">
    <ul class="nav nav-list sidebar-nav">
        <li class="sidebar-brand">Course Management</li>
        <li>
            <label id="crossListed" onclick="buildURL(crossListed)">Cross Listed Courses</label>
        </li>
        <li>
            <label id="conflicts"   onclick="buildURL(conflicts)">Schedule and Room Conflicts</label>
        </li>
        <li>
            <label id="tracker"     onclick="buildURL(tracker)">Change Tracker</label>
        </li>
        <li class="sidebar-brand">Current Term</li>
        <li>
            <form id="termChange"class="navbar-form" method="post" action="/redirect/courses">
                <!--SO THAT WHEN THE SEMESTER CHANGES THE PROGRAM STAYS THE SAME-->
                <input value={{prefix}} id="prefix" name="prefix" hidden readonly="readonly"/> 
                <select class="form-control col-md-1" name="term" onchange="this.form.submit()">
                    {% for term in allTerms %}
                        <option value ="{{term.termCode}}"
                            {% if term.termCode == currentTerm %}
                                selected
                            {% endif %} 
                        >
                            {{term.name}}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </li>
    </ul>
</div>
<script type="text/javascript" src="/static/js/local/sidebar.js"></script>
