
<!--The below line of code is jinja which is a template engine for python-->
<!-- If you want to learn more about jinja, refer to jinja documentation-->
{% extends "base.html" %} 
{% set currentPage = "crossListed" %}
{% block body %}
<link rel="stylesheet" href="/static/css/sidebar.css" type="text/css" />
<link rel="stylesheet" href="/static/css/Courses.css" type="text/css" />
<body>
    <div id="wrapper">
        {%include "snips/courseManagementSidebar.html" %}
        <div id="page-content-wrapper">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% for term in allTerms %}
                {% if term.termCode == currentTerm|int %}
                    <h2> {{term.name}}: Cross Listed Courses </h2>
                {% endif %}
            {% endfor %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% include "snips/adminCourseTable.html" %}
                        <!--if you change the name of this button it will break the javascript in toggleMenu.js-->
                        <a href="#menu-toggle" class="btn btn-info" id="menu-toggle">Close Sidebar</a> 
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->
    <script type="text/javascript" src="/static/js/local/toggleMenu.js"></script>
    <script type="text/javascript" src="/static/js/ext/chosen.jquery.min.js"></script>
    <!--WE NEED THIS FOR THE ADD INSTRUCTORS PORTION OF THE addCourseForm.html-->
    <script type="text/javascript" src="/static/js/local/Courses.js"
</body>
{% endblock %}