
<div class="modal fade" id="divisionEditModal{{division.dID}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-md">
    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit division</h4>
        </div>
        <div class="modal-body">
        <form action="\editDivision" method="post" id="divisionEditForm{{division.dID}}">
          <h4>Change division Name</h4>
          <input type="hidden" name="divisionId" value="{{division.dID}}"/>
          <input type="text" class="form-control" name="divisionName" value="{{division.name}}"/>
          <h4>Change division Chair(s)</h4>
        <select class="chosen-select" id="professors"  name="professors[]" multiple>
          {% for user in users %}
            <option value="{{user.username}}" {% if (division is defined)  %}
                                                {%for chair in divisionChairs[division.dID] %}
                                                  {% if chair.username.username == user.username %}
                                                    selected
                                                  {% endif %}
                                                {% endfor %}
                                              {% endif %}>
              {{user.firstName}} {{user.lastName}} ({{user.username}})
              </option>
          {% endfor %}
        </select>
        
        </form>
        </div>
       
       <div class="modal-footer">
           <input class="btn  btn-sm btn-success pull-right"type="submit" form="divisionEditForm{{division.dID}}"value="Submit"/>
        </div>

    </div>
  </div>
</div>
