{% extends "base.html" %}
{% set currentPage = "Division Management" %}

{% block aboveContainer %} 
  {% include "snips/sidebarButton.html" %}
{% endblock %}
{% block body %}
<div id="wrapper">
{% include "snips/divisionManagementSidebar.html"%}


<div id="page-content-wrapper">
  {% include "snips/messages.html" %}
  <div class="container-fluid">
    <div class="row">
        <form action="\editDivision" method="post" id="divisionEditForm{{division.dID}}">
          <div class="form-group">
            <h2>{{division.name}}</h2>
            <input value={{division.dID}} id="dID" name="dID" hidden readonly="readonly"/> 
            <h4>Change Division Chair(s)</h4>
            <select class="selectpicker form-control" id="professors"  name="professors[]" multiple data-live-search="true">
              {% for user in users %}
                <option value="{{user.username}}" 
                  {% if (division is defined)  %}
                    {%for chair in divisionChairs[division.dID] %}
                      {% if chair.username.username == user.username %}
                        selected
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  data-subtext="{{user.username}}"
                >
                  {{user.firstName}} {{user.lastName}}
                </option>
              {% endfor %}
            </select>
          </div>
          <div>
            <input type="submit" class ="btn btn-success pull-right" value="Submit"/>
          </div>
        </form>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
</div>
{% endblock %}