{% extends "base.html" %}
{% set currentPage = "Program Management" %}
{% block body %}
<div id="wrapper">
{% include "programManagementSidebar.html"%}

{% include "snips/messages.html" %}

  <div id="page-content-wrapper">
          <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
          </button>
  <div class="container-fluid">
    <div class="row">
        <form action="\editProgram" method="post" id="programEditForm{{program.pID}}">
          <div class="form-group">
            <h2>{{program.name}}</h2>
            <h4>Change Program Chair(s)</h4>
            <!--Make a hidden input to pass the program.pID-->
            <input value={{program.pID}} id="pID" name="pID" hidden readonly="readonly"/> 
            <select class="selectpicker form-control" id="professors"  name="professors[]" data-live-search="true" multiple>
              {% for user in users %}
                <option value="{{user.username}}" 
                  {% if (program is defined)  %}
                    {%for chair in programChairs[program.pID] %}
                      {% if chair.username.username == user.username %}
                        selected
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                >
                  {{user.firstName}} {{user.lastName}} ({{user.username}})
                </option>
              {% endfor %}
            </select>
          </div>
          <div>
          <input type="submit" class="btn btn-success pull-right" value="Submit"/>
          </div>
        </form>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
</div>
{% endblock %}