{% extends "base.html" %}

{% block body %}
<form method="POST">
  <table id="login" class="col-xs-12">
    <tbody>
      <tr>
        <td>
          <div class="grid col-md-8 col-md-offset-2">
            <div class="row">
              <img class="col-xs-8 col-xs-offset-2 img-responsive" src="/static/photos/sexy_logo.png" alt="Berea College Logo">
            </div>
            <div class="row">
              <div id="login-group" class=" form-group col-xs-8 col-xs-offset-2">
                <div id="warn"></div>
                <label for="username">Username:</label>
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                  </div>
                  <label class="control-label" for="userName"></label>
                  <input name="username" type="text" id="userName" class="form-control input-lg">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-8 col-xs-offset-2">
                <label for="password">Password:</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                  </div>
                  <input name="password" type="password" id="password" class="form-control input-lg">
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" col-xs-8 col-xs-offset-2 ">
                <input type="submit" name="loginButton" value="Log In" id="loginButton" class="btn col-xs-5 col-md-3 btn-info pull-right">
              </div>
            </div>
          </div>

        </td>
      </tr>
    </tbody>
  </table>
</form>

{% endblock %}
