{% if user != None %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-section">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard/">Watson TA Assistant</a>
            </div>
        {% if user == "ta1" or user == "ta2" %}
            <div class="collapse navbar-collapse" id="navbar-collapse-section">
                <ul class="nav navbar-nav">
                    <li><a href="/questions/{{ user }}/">Student Questions</a>
                </ul>
            </div>
        {% else %}
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/post/">Ask a Question</a>
                </ul>
            </div>
        {% endif %}
      </div>
    </nav>
{% endif %}
