<!--Stop the navbar from collapsing. Needed to not get strange behavior from the sidebar-->
<link rel="stylesheet" href="/static/css/navbar.css" type="text/css" />
<!--This is the navigation bar that is found at the top of the page-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav"> 
        {% for menuItem in cfg['mainMenu'] %}
          <li 
            {% if currentPage == menuItem['title'] %}
              class="active"
            {% endif %}
          >
            <a href="{{menuItem['link']}}">{{menuItem['title']}}</a>
          </li>
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if isAdmin %}
          {% for item in cfg['adminMenu'] %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{item}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for page in cfg['adminMenu'][item] %}
                  <li
                    {% if currentPage == page['title'] %}
                      class ="active"
                    {% endif %}
                  >
                    <a href={{page['link']}}>{{page['title']}}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
  </div>
</nav>

