{% extends "base.html" %}
{% set currentPage = "Division Management" %}
{% block body %}
<div id="wrapper">
  {% include "divisionManagementSidebar.html" %}
  <link rel="stylesheet" href="/static/css/sidebar.css" type="text/css" />
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <form action="/admin/newDivision" method="post" id="newdivisionForm" data-toggle="validator">
            <div class="form-group">
              <h4>Division Name</h4>
              <input type="text" class="form-control" name="divisionName" required/>
              <h4>Division Chair(s)</h4>
              <select class="chosen-select" id="professors"  name="professors[]" multiple>
                {% for user in users %}
                  <option value="{{user.username}}" 
                    {% if (division is defined)  %}
                      {%for chair in divisionChairs[division.pID] %}
                        {% if chair.username.username == user.username %}
                          selected
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  >
                    {{user.firstName}} {{user.lastName}} ({{user.username}})
                  </option>
                {% endfor %}
              </select>
            </div>
            <div>
              <input type="submit" class ="btn btn-info pull-right" value="Create"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
