{% extends "base.html" %}

{% block body %}
<div class="wrapper">
{% include "sidebar.html"%}
<link rel="stylesheet" href="/static/css/sidebar.css" type="text/css" />
<div id="page-content-wrapper">
  <div class="container-fluid">
   <div class="row">
    <div class="col-lg-12">
     <table class="table">
         <tr>
             <th>Course Name</th>
             <th>Taught By</th>
             <th>Schedule</th>
             <th>Capacity</th>
         </tr> 
         {% for course in courses %}
         <tr>
             <td>{{course.prefix.prefix}} {{course.bannerRef.number}} {{course.bannerRef.ctitle}}</td>
             <td>{% for instructor in instructors[course.cId] %}
              {{instructor.username.username}}{% endfor %}
             </td>
             <td>{{course.schedule.days}} {{course.schedule.startTime.strftime('%H:%M')}} - {{course.schedule.endTime.strftime('%H:%M')}}</td>
             <td>{{course.capacity}}</td>
             
         </tr>
         {% endfor %}
     </table>
    </div>
   </div>
   </div>
</div>
</div>
{% endblock %}
