{% extends "base.html" %} {% set currentPage = "Courses" %} {% block aboveContainer %}
<div id="wrapper">
    <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
          </button> {% endblock %} {% block body %}

    <div id="page-content-wrapper">
        {% include "snips/sidebar.html" %} {% include "snips/messages.html" %}
        <!-- Page Content -->


        <h2>{{currentProgram.name}}: {{curTermName.name}}</h2>
        <div class="container-fluid">
            <div class="row">
                <table class="table table-striped table-hover">
                    {% include "snips/adminCourseTable.html" %}
                </table>
                {% include "snips/createCourse.html" %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
</div>
<!-- /#page-content-wrapper -->

<!-- /#wrapper -->
<script type="text/javascript" src="/static/js/local/sidebar.js"></script>
{% endblock %} {% block belowContainer %} </div> {% endblock %}
