{# questionsView.html #}

{% extends "base.html" %}
{% block body %}
<script type="text\javascript" src="static/local/js/claim.js"></script>

<div class="clearfix">
<div class="container">
    <div id="allQs" class="tab-pane fade in active">
        <div class="panel-group" id="unclaimedAccordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                {% for class in classes %}
                    <div class="panel-heading" role="tab" id="{{class.cID}}Tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#unclaimedAccordion" href="#{{class.cID}}" aria-expanded="true" aria-controls="{{class.cID}}">
                                {{class.course_num}}({{class.course_title}})
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="{{class.cID}}" role="tabpanel" aria-labelledby="{{class.cID}}">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>
                                    {% for question in questions %}
                                        {% if question.status != "resolved" %}
                                            {% if question.cID.cID == class.cID %}
                                                <tr>
                                                    <td><a data-toggle="modal" data-target="#questionModal" data-question="{{question.qID}}" data-user="{{user}}"><h4>{{question.title}}</h4>
                                                    <a style="float:right" class="glyphlink" data-toggle="modal" data-target="#resolveQuestionModal" data-question="{{question.qID}}">
                                                        <span class="glyphicon glyphicon-ok">Resolve</span>
                                                    </a> 
                                                    <p>{{question.question}}<p></td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resolveQuestionModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-labeledby="resolveModalLabel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" id="resolveModalLabel">
                <h4>Would you like to resolve this question?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No thank you.</button>
                <button type="button" data-question="" id="resolveClaimButton" class="btn btn-success" onclick="resolve(this);">Yes!</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="questionModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-labeledby="modalLabel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" id="modalLabel">
                <h4>Would you like to help this student with their question?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No, Someone else would be more helpful.</button>
                <button type="button" data-question="" id="claimButton" class="btn btn-success" onclick="claim(this);">Yes, Claim the question!</button>
            </div>
        </div>
    </div>
</div>
<!--Resolve-->
  <script>
    $( document ).ready(function() {
    $("#resolveQuestionModal").on('show.bs.modal', function(event){
    var link = $(event.relatedTarget);
    var question = link.data('question');
    var modal = $(this);
    console.log(question)
    $('#resolveClaimButton').attr('data-question', question)
    });
    });

function resolve(){
  var question = $('#resolveClaimButton').data('question');
    $.ajax({
        url: "/resolve/",
      data: {user : '{{user}}', question : question},
        type: "GET",
        success: function(data){
            $('#resolveQuestionModal').hide()
            window.location.reload(true)
            },
        error: function(){
            console.log("Error");
            }
        });
    };
<!--Claim-->
    $( document ).ready(function() {
    $("#questionModal").on('show.bs.modal', function(event){
    var link = $(event.relatedTarget);
    var question = link.data('question');
    var modal = $(this);
    console.log(question)
    $('#claimButton').attr('data-question', question)
    });
    });

function claim(){
  var question = $('#claimButton').data('question');
    $.ajax({
        url: "/claim/",
      data: {user : '{{user}}', question : question},
        type: "GET",
        success: function(data){
            return 0;
            },
        error: function(){
            console.log("Error");
            }
        });
    };</script>
{% endblock %}
