{# questionsView.html #}

{% extends "base.html" %}

{% block body %}
<script src="static/local/js/claim.js"></script>

<div class="clearfix">
<div class="container">
    <div id="allQs" class="tab-pane fade in active">
        <div class="panel-group" id="unclaimedAccordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                {% for class in classes %}
                    <div class="panel-heading" role="tab" id="{{class.cID}}Tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#unclaimedAccordion" href="#{{class.cID}}" aria-expanded="true" aria-controls="{{class.cID}}">
                                {{class.course_num}}({{class.course_title}})
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="{{class.cID}}" role="tabpanel" aria-labelledby="{{class.cID}}">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody> 
                                    {% for question in questions %}
                                        {% if question.status != "resolved" %}
                                            {% if question.cID.cID == class.cID %}
                                                <tr>
                                                    <td><a data-toggle="modal" data-target="#questionModal" data-question="{{question.qID}}" data-user="{{user}}"><h4>{{question.title}}</h4>
                                                    <p>{{question.question}}<p></a></td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>        
    </div>
</div>

<div class="modal fade" id="questionModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-labeledby="modalLabel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" id="modalLabel">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Ignore</button>
                <button type="button" class="btn btn-success" onclick="claim()">Claim</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
