{% extends "base.html" %} {% set currentPage = "systemManagement" %} {% block body %} 
{% include "snips/messages.html" %}
<div class="container">
<div class="panel panel-default">
  <!--TERM MANAGEMENT-->
  <div class="panel-heading">
    <h3 class="panel-title">Term Management</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Term(s)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for term in terms %}
      <tr>
        <td>{{term.name}}</td>
        {% if term.editable %}
        <td>
          <span class="glyphicon glyphicon-edit disabled" aria-hidden="true" style="color:#128f76;"></span>
          <a href=# data-toggle="modal" data-target="#termModal{{term.termCode}}"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></a> {% include "snips/termModal.html" %}
        </td>
        <td>
          <p>Term changes <b>are not</b> being <a href="/courseManagement/tracker/">tracked</a>.</p>
        </td>
        {% else %}
        <td>
          <a href=# data-toggle="modal" data-target="#termModal{{term.termCode}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
          <span class="glyphicon glyphicon-lock disabled" aria-hidden="true" style="color:#d62c1a;"></span> {% include "snips/termModal.html" %}
        </td>
        <td>
          <p>Term changes <b>are</b> being <a href="/courseManagement/tracker/">tracked</a>.</p>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="panel-body">
    <!--CREATE A NEW TERM-->
    <label for="newTerm">Create a new term</label>
    <form action="\newTerm" method="post" id="newTerm" class="form-inline">
      <div class="form-group">
        <select class="form-control" name="keyValue">
            {% for key in cfg['termInfo'] %}
              <option value="{{key}}" required>
                {{cfg['termInfo'][key]}}
              </option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" name="year">
            {% for year in years %}
              <option value="{{year}}" required>
                {{year}}
              </option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Save">
      </div>
    </form>
  </div>
</div>
<!--ADMINISTRATIVE USER MANAGEMENT-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Administrative User Management</h3>
  </div>
  <div class="panel-body">
    <label for="newAdmin">Add a new administrative user</label>
    <form action="\changeAdmin" method="post" id="newAdmin" class="form-inline">
      <div class="form-group adminSelect"  >
        <select class="selectpicker form-control" name="admin" data-live-search="true">
        <option value="None">---</option>
        {% for user in users %}
          {% if not user.isAdmin %}
            <option value="{{user.username}}" data-subtext="{{user.username}}"> {{user.firstName}} {{user.lastName}}</option>
          {% endif %}
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Add">
      </div>
    </form>
    <label for="newAdmin">Remove an administrative user</label>
    <form action="\changeAdmin" method="post" id="removeAdmin" class="form-inline">
      <div class="form-group adminSelect">
        <select class="selectpicker form-control" name="admin">
        <option value="None">---</option>
        {% for user in users %}
          {% if user.isAdmin %}
          <option value="{{user.username}}" data-subtext="{{user.username}}"> {{user.firstName}} {{user.lastName}}</option>
          {% endif %}
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteModal"> Remove </button>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Comfirmation Required</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this Administrator?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-danger" value="Submit Change">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--DEADLINE MANAGEMENT-->
{% include "snips/deadline/createDeadline.html" %}
</div>
</div>
{% endblock %}