
<!--The below line of code is jinja which is a template engine for python-->
<!-- If you want to learn more about jinja, refer to jinja documentation-->
{% extends "base.html" %} 
{% set currentPage = "tracker" %}
{% block body %}
<script src="/static/js/local/popup.js"></script>
<body>
  <div id="wrapper">
    <div id="page-wrapper">
      <div class="jumbotron">
        <p>
          After the deadline for submitting courses has passed 
          and division chairs and program chairs still need to add or edit courses then those changes
          will appear here so that they can be updated in any other database that needs to be updated
        </p>
      </div>
      {% include "snips/messages.html" %}
      <h2>Change Tracker</h2>
      <p> This page tracks all of the changes that have occured in the system</p>
      <ul class="legend">
        <li>
          <span class="glyphicon glyphicon-stop" style="color:#128f76"></span> 
          The course as been <b>added</b>.
        </li>
        <li>
          <span class="glyphicon glyphicon-stop" style="color:#d62c1a"></span>
          The course has been <b>deleted</b>.
        </li>
        <li>
          <span class="glyphicon glyphicon-stop" style="color:#f0ad4e"></span>
          The course field has been <b>updated</b>.
        </li>
      </ul>
        <div class="panel panel default">
          <div class="panel-heading">
          </div>
          <table class="table">
            <thead>
              <tr>
                {% for value in cfg['tableLayout']['order'] %}
                  <th>{{value}}</th>
                {% endfor %}
                <th></th>
				      </tr>
            </thead>
            <tbody>
              {% for course in courses %}
                <tr>
                  <td id="className"class="{{classDict[course.cId][0]}}">
                    {{course.prefix.prefix}} {{course.bannerRef.number}}
                    {% if course.specialTopicName is not none %}
                      {{course.specialTopicName}}
                    {% else %}
                      {{course.bannerRef.ctitle}}
                    {%endif%}
                  </td>
                  <td id="professors"class="{{classDict[course.cId][1]}}">
                    {% for instructor in instructorsDict[course.cId] %}
                      {{instructor.username.username}} 
                    {% endfor %}
                  </td>
                  <td id="schedule"class="{{classDict[course.cId][2]}}">
                    {# Needed to move special to the top for scoping issue #}
                    {% set special = [] %}
                    {% if  course.schedule is not none %}
                      {% for sid in cfg['specialSchedule']['unknownTime'] %}
                        {% if sid == course.schedule.sid %}
                          {% set special = special.append(sid) %}
                        {% endif %}
                      {% endfor %}
                      {% if special != [] %}
                        <p>See Notes</p>                            
                      {% else %}
                        {{course.schedule.days}} {{course.schedule.startTime.strftime('%I:%M%p')}}-{{course.schedule.endTime.strftime('%H:%M%p')}}
                      {% endif %}                
                    {% endif %}
                  </td>
                  <td id="room" class="{{classDict[course.cId][3]}}">
                    {% if course.rid is not none %}
                      {{course.rid.building}}:{{course.rid.number}}
                    {% else %}
                      <p> None </p>
                    {% endif %}
                  </td>
                  <td id="capacity"class="{{classDict[course.cId][4]}}">
                    {{course.capacity}}
                  </td>
                  <td id='crossListed' class="{{classDict[course.cId][5]}}">
                    {% if course.crossListed == 1 %}
                      <p>Yes</p>
                    {% else %}
                      <p>No</p>
                    {% endif %}
                  </td>
                  <td id="notes"class="{{classDict[course.cId][6]}}">
                    <a href='javascript:;'  data-toggle='popover' title='Course Notes' data-content='{% if course.notes is not none %}{{ course.notes }}{% endif %}'>
                      Notes
                    </a>
                  </td>
                  <td id="term"class="{{classDict[course.cId][7]}}">
                    {{course.term.name}}
                  </td>
                  {# Last Edit should always be the edit color #}
                  <td id="lastEdit" class="{{classDict[course.cId][8]}}">
                    {{course.lastEditBy}}
                  </td>
                  <td>
                    <a href="" data-toggle="modal" data-id="" data-target="#verifyCourseChange{{course.cId}}"><span class="glyphicon glyphicon-check" aria-hidden="true" style="color:gray;"></span></a>
                    {% include "snips/verifiedCourseChange.html" %}
                  </td>
                </tr>
              {% endfor %}  
            </tbody>
          </table>
            
        </div>
    </div>
  </div>
</body>
{% endblock %}