
<!--The below line of code is jinja which is a template engine for python-->
<!-- If you want to learn more about jinja, refer to jinja documentation-->
{% extends "base.html" %} 
{% set currentPage = "tracker" %}
{% block body %}
<body>
  <div id="wrapper">
    {%include "snips/courseManagementSidebar.html" %}
    <div id="page-content-wrapper">
      <div class="jumbotron">
        <p>
          After the deadline for submitting courses has passed 
          and division chairs and program chairs still need to add or edit courses then those changes
          will appear here so that they can be updated in any other database that needs to be updated
        </p>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <h2>Change Tracker</h2>
      <p> This page tracks all of the changes that have occured in the system</p>
        <div class="panel panel default">
          <div class="panel-heading">
          </div>
          <table class="table">
            <thead>
              <tr>
                {% for value in cfg['tableLayout']['order'] %}
                  <th>{{value}}</th>
                {% endfor %}
                <th></th>
				      </tr>
            </thead>
            <tbody>
              {% for course in courses %}
                <tr>
                  <td id="className"class="{{classDict[course.cId][0]}}">
                    {{course.prefix.prefix}} {{course.bannerRef.number}}
                    {% if course.specialTopicName is not none %}
                      {{course.specialTopicName}}
                    {% else %}
                      {{course.bannerRef.ctitle}}
                    {%endif%}
                  </td>
                  <td id="professors"class="{{classDict[course.cId][1]}}">
                    {% for instructor in instructorsDict[course.cId] %}
                      {# {{instructor.username}} #}
                    {% endfor %}
                  </td>
                  <td id="schedule"class="{{classDict[course.cId][2]}}">
                    {% if  course.schedule is not none %}
                      {{course.schedule.days}} {{course.schedule.startTime.strftime('%H:%M')}} - {{course.schedule.endTime.strftime('%H:%M')}}
                    {% endif %}
                  </td>
                  <td id="room" class="{{classDict[course.cId][3]}}">
                    {% if course.rid is not none %}
                      {{course.rid.building}}:{{course.rid.number}}
                    {% else %}
                      <p> None </p>
                    {% endif %}
                  </td>
                  <td id="capacity"class="{{classDict[course.cId][4]}}">
                    {{course.capacity}}
                  </td>
                  <td id='crossListed' class="{{classDict[course.cId][5]}}">
                    {% if course.crossListed == 1 %}
                      <p>Yes</p>
                    {% else %}
                      <p>No</p>
                    {% endif %}
                  </td>
                  <td id="notes"class="{{classDict[course.cId][6]}}">
                    <a href='javascript:;'  data-toggle='popover' title='Course Notes' data-content='{{course.notes}}'>
                      Notes
                    </a>
                  </td>
                  <td id=
                  <td>
                    <a href="" data-toggle="modal" data-id="" data-target="#verifyCourseChange"><span class="glyphicon glyphicon-check" aria-hidden="true" style="color:gray;"></span></a>
                  </td>
                </tr>
              {% endfor %}  
            </tbody>
          </table>
           {% include "snips/verifiedCourseChange.html" %} 
        </div>
    </div>
  </div>
</body>
{% endblock %}